[Unit]
Description=MICALIVE Detector Process
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u simple-sound.py
WorkingDirectory=/home/pi/interactive-spaces/scripts
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
