body {
  background: #55565B;
}
h1 {
  color: #FFDA5A;
  font-family: monospace;
  font-size: 8em;
  margin: 0 auto;
  text-align:center;
  width: 100%;
}

.container {
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.chart-container {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 64px auto 0;
}

.tables-container {
  width: 640px;
  margin: 64px auto 0;
}

.table {
  width: 100%;
  font-family: monospace;
  color: #fff;
}

.table .time {
  width: 40%;
}

@media (min-width: 1024px) {
  .chart-container {
    position: relative;
    width: 800px;
    height: 333px;
  }
}

@media (min-width: 700px) and (max-width: 1023px) {
  .chart-container {
    position: relative;
    width: 640px;
    height: 333px;
  }
}

@media (max-width: 699px) {
  .chart-container {
    position: relative;
    width: 480px;
    height: 333px;
  }
}
